[submodule "cfg"]
	path = cfg
	url = git@github.com:DSciLab/cfg.git
[submodule "mlutils"]
	path = mlutils
	url = git@github.com:DSciLab/mlutils.git
[submodule "voxpy"]
	path = voxpy
	url = git@github.com:DSciLab/voxpy.git
[submodule "juno"]
	path = juno
	url = git@github.com:DSciLab/juno.git
